set -a
test -f .env.local && . .env.local
set +a

symphony_origin_url="$(git config --get remote.origin.url)"

case "$symphony_origin_url" in
  git@github.com:*)
    GITHUB_REPO="${symphony_origin_url#git@github.com:}"
    ;;
  https://github.com/*)
    GITHUB_REPO="${symphony_origin_url#https://github.com/}"
    ;;
  ssh://git@github.com/*)
    GITHUB_REPO="${symphony_origin_url#ssh://git@github.com/}"
    ;;
  *)
    echo "Unsupported GitHub origin URL: ${symphony_origin_url:-<missing>}" >&2
    return 1
    ;;
esac

export GITHUB_REPO="${GITHUB_REPO%.git}"
unset symphony_origin_url
